<div class="container">
    
    <div class="row">
        <div class="form-group col-md-3"></div>
        
        <div class="form-group col-md-6">
            <div class="formDiv">
            
                <div class="col-12 text-center">
                    <h1 >Events Search</h1>
                </div>
                <hr id="hDivider">

                <form style="width: 100%" (ngSubmit)="onSubmit()" ngNativeValidate>
                    <div class="row">
                        <div class="form-group col-md-12 required">
                            
                            <small><label for="keyword" class="control-label inputLabel">Keyword</label></small> 
                            <input type="text" id="keyword" class="form-control" [(ngModel)]="selectedKeyword" [matAutocomplete]="autoVar" [formControl]="KeywordCtrl" required>
                    
                            <!-- mat-autocomplete takes care of displaying the dropdown which suggests. ng-option is the optin tag of the dropdown-->
                            <mat-autocomplete #autoVar="matAutocomplete" (optionSelected)="onSelected()" [panelWidth]="400" [displayWith]="displayWith"> 
                                <mat-option *ngIf="isLoading" class="is-loading">
                                    <mat-spinner [diameter]="20"></mat-spinner>
                                </mat-option>
                                <ng-container *ngIf="!isLoading">
                                    <mat-option *ngFor="let keyword of filteredKeywords" [value]="keyword">
                                        <span>
                                            <b>{{keyword}}</b>
                                        </span>
                                    </mat-option>
                                </ng-container>
                            </mat-autocomplete>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="form-group col-md-6">
                            <small><label for="distance" class="inputLabel">Distance</label></small>
                            <input type="number" (ngModel)="distance" class="form-control" id="distance" placeholder="10">
                        </div>
                        <div class="form-group col-md-5">
                            <small><label for="category" class="control-label inputLabel">Category</label></small>
                            
                            <select class="dropdown-menu" id="category" name="category" class="form-control">
                                <option value="default">Default</option>
                                <option value="music">Music</option>
                                <option value="sports">Sports</option>
                                <option value="artsAndTheatre">Arts & Theatre</option>
                                <option value="film">Film</option>
                                <option value="miscellaneous">Miscellaneous</option>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-12 required">
                            <small><label for="location" class="control-label inputLabel">Location</label></small>
                            <input type="text" class="form-control" [disabled]="isLocationDisabled" id="location" aria-describedby="LocationValue" required>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-12">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="autoDetectLocation" name="autoDetectLocation" (change)="checkAutoDetect()">
                                <small><label class="form-check-label inputLabel" for="autoDetectLocation">
                                    Auto-detect your location
                                </label></small>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-12 text-center">
                            <button type="submit" class="btn btn-danger">SUBMIT</button>
                            <button type="reset" class="btn btn-primary" (click)="clearForm()">CLEAR</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="form-group col-md-3"></div>
    </div>
    
    <!-- Results Table-->
    <div class="row">
        
        <div class="form-group col-md-1"></div>
        
        <div class="form-group col-md-10">
            <div class="row">
                <div class="col-md-2"></div>
                <div *ngIf="noEventsDataFound" class="col-md-8 noResultsFound text-center">
                    <h3>No results available</h3>
                </div>
                <div class="col-md-2"></div>
            </div>
            
            <div class="table-responsive">
                <table *ngIf="isEventsDataFound" class="table table-dark table-striped resultsTable">
                    <thead>
                        <tr>
                            <th scope="col">Date/Time</th>
                            <th scope="col">Icon</th>
                            <th scope="col">Event</th>
                            <th scope="col">Genre</th>
                            <th scope="col">Venue</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let event of events" (click)="rowClick(event.id, event.venue)" id="{{event.id}}">
                            <td>{{event.date}}</td>
                            <td><img src={{event.icon}}></td>
                            <td>{{event.name}}</td>
                            <td>{{event.genre}}</td>
                            <td>{{event.venue}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="form-group col-md-1"></div>
    </div>
    <!--End of results table-->


    <div class="row">

        <div class="form-group col-md-2"></div>
        
        <!-- Tabs Section-->
        <div class="form-group col-md-8">
            
            <div class="tabsDiv" *ngIf="isTabsDataFound">
                
                <div id="backButton">
                    <span class="material-icons leftArrow">arrow_back_ios</span>
                    <label (click)="onSubmit()">Back</label>
                </div>
                
                <div class="row" class="eventHeader">
                    <div class="text-center tabsHeader">
                        <h3 *ngIf="eventDetails.eventName">{{eventDetails.eventName}} 
                            <span (click)="switchFavorite(eventDetails.eventId)" [ngStyle]="{'color': favoriteColor}" id="favorite" class="material-icons heart-border">{{favoriteText}}</span>
                        </h3>
                    </div>
                </div>
                
                <mat-tab-group mat-align-tabs="center" color="primary">
                    
                    <!--Events Tab-->
                    <mat-tab label="Events" *ngIf="isEventDetailsDataFound">
                        <div class="container">
                            <div class="row display-flex-center" id="events">
                                <div class="col-md-6 text-center">
                                    <h5 *ngIf="eventDetails.eventDate">Date</h5>
                                    <label *ngIf="eventDetails.eventDate" class="eventsText">{{eventDetails.eventDate}}</label>

                                    <h5 *ngIf="eventDetails.eventDate">Artist/Team</h5>
                                    <label  *ngIf="eventDetails.eventDate" class="eventsText">{{eventDetails.artistString}}</label>

                                    <h5 *ngIf="eventDetails.eventVenue">Venue</h5>
                                    <label *ngIf="eventDetails.eventVenue" class="eventsText">{{eventDetails.eventVenue}}</label>

                                    <h5 *ngIf="eventDetails.genre">Genres</h5>
                                    <label *ngIf="eventDetails.genre" class="eventsText">{{eventDetails.genre}}</label>

                                    <h5 *ngIf="eventDetails.priceRanges">Price Ranges</h5>
                                    <label *ngIf="eventDetails.priceRanges" class="eventsText">{{eventDetails.priceRanges}} USD</label>
                                    
                                    <h5 *ngIf="eventDetails.ticketStatus">Ticket Status</h5>
                                    <label *ngIf="eventDetails.ticketStatus" class="eventsText" style="padding: 10px 10px 10px 10px; border-radius: 10px;" [ngStyle]="{'background-color': eventDetails.ticketStatusColor}">{{eventDetails.ticketStatus}}</label>

                                    <h5 *ngIf="eventDetails.ticketURL">Buy Ticket At:</h5>
                                    <a href={{eventDetails.ticketURL}} class="eventsText" *ngIf="eventDetails.ticketURL">Ticketmaster</a>
                                </div>
                                <div *ngIf="eventDetails.seatMap" class="col-md-6 text-center">
                                    <img src={{eventDetails.seatMap}} class="img-fluid" style="padding-top: 20px;">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-12 text-center" *ngIf="eventDetails.ticketURL">
                                    <label>Share on: </label>
                                    
                                  
                                    <a target="_blank" class="twitter" [href]="'https://twitter.com/intent/tweet?text=Check ' + eventDetails.eventName + ' on Ticketmaster.%0A' + eventDetails.ticketURL"><i class="bi bi-twitter"></i></a>
                                    
                                    <a target="_blank" onclick="shareFBPost();" class="facebook">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" viewBox="0 0 32 32">
                                            <path fill="#1651d0" d="M26.67 4H5.33A1.34 1.34 0 0 0 4 5.33v21.34A1.34 1.34 0 0 0 5.33 28h11.49v-9.28H13.7v-3.63h3.12v-2.67c0-3.1 1.89-4.79 4.67-4.79c.93 0 1.86 0 2.79.14V11h-1.91c-1.51 0-1.8.72-1.8 1.77v2.31h3.6l-.47 3.63h-3.13V28h6.1A1.34 1.34 0 0 0 28 26.67V5.33A1.34 1.34 0 0 0 26.67 4Z"/>
                                        </svg>
                                    </a>
                                
                                </div>
                            </div>
                        </div>
                    </mat-tab>

                    <!-- Artists tab-->
                    <mat-tab label="Artists/Teams">
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div *ngIf="noArtistsFound" class="col-md-8" style="padding-left: 20px; padding-right: 20px;">
                                <div class="noResultsFound text-center">
                                    <h4>No music related artist details to show</h4>
                                </div>
                            </div>
                            <div class="col-md-2"></div>
                        </div>
                        <ngb-carousel class="container" *ngIf="isMusicRelated">
                            <ng-template ngbSlide *ngFor="let artist of artistsInfo">
                                <div class="wrapper container">
                                    <div class="container">
                                        <div class="container">
                                            <div class="container">
                                                <div class="container">
                                                    <div class="container">
                                                        
                                                        <div class="container row text-center" style="padding-top: 2vw;">
                                                            <div class="col-md-3">
                                                                <img style="border-radius: 20vw" src={{artist.imageURL}} class="img-fluid">
                                                                <h5 class="greenText">{{artist.name}}</h5>
                                                            </div>
                                                            <div class="col-md-3">
                                                                <div class="pfs">
                                                                    <h5 class="greenText">Popularity</h5>
                                                                    <div class="text-center spinner">
                                                                        <mat-progress-spinner [diameter]="40" color="warn" mode="determinate" value={{artist.popularity}}></mat-progress-spinner>
                                                                    </div>
                                                                    <div style="margin-top: -32px;">
                                                                        <label>{{artist.popularity}}</label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            
                                                            <div class="col-md-3">
                                                                <div class="pfs">
                                                                    <h5 class="greenText">Followers</h5>
                                                                    <label>{{artist.followersCount}}</label>
                                                                </div>
                                                            </div>
                                                            
                                                            <div class="col-md-3">
                                                                <div class="pfs">
                                                                    <h5 class="greenText">Spotify Link</h5>
                                                                    <a style="color: green; font-size: 45px;" href={{artist.spotifyURL}} class="bi bi-spotify"></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row" style="padding-bottom: 2vw;">
                                                            <div>
                                                                <label class="greenText albumText">Albums featuring {{artist.name}}</label>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <img class="img-fluid albumImg" src={{artist.coverImages[0]}} alt="Random first slide">
                                                            </div>
                                                            <div class="col-md-4">
                                                                <img class="img-fluid albumImg" src={{artist.coverImages[1]}}>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <img class="img-fluid albumImg" src={{artist.coverImages[2]}}>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div> 
                                    </div>
                                </div>
                                
                            </ng-template>
                        </ngb-carousel>
                    </mat-tab>

                    <!--Venue Tab-->
                    <mat-tab label="Venue" *ngIf="isVenueDataFound">
                        <div class="container text-center venuesTab">
                            <div class="row" id="venue">
                                <div class="col-md-6 text-center">
                                    <h5 *ngIf="venueDetails.venueName">Name</h5>
                                    <label *ngIf="venueDetails.venueName">{{venueDetails.venueName}}</label>

                                    <h5 *ngIf="venueDetails.venueAddress">Address</h5>
                                    <label *ngIf="venueDetails.venueAddress">{{venueDetails.venueAddress}}, {{venueDetails.venueCity}}</label>

                                    <h5 *ngIf="venueDetails.venuePhoneNumber">Phone Number</h5>
                                    <label *ngIf="venueDetails.venuePhoneNumber">{{venueDetails.venuePhoneNumber}}</label>                                        
                                </div>
                                <div class="col-md-6 text-center">
                                    
                                    <h5 *ngIf="venueDetails.venueOpenHours">Open Hours</h5>
                                    <p id="openHours">{{venueDetails.venueOpenHours}}</p>
                                    <a *ngIf="showMoreOpenHours && venueDetails.venueOpenHours" class="showMore" (click)="expand('openHours')">Show More
                                        <span class="material-icons" style="color: white; vertical-align: middle;">
                                            expand_more
                                        </span>
                                    </a>
                                    <a *ngIf="!showMoreOpenHours && venueDetails.venueOpenHours" class="showLess" (click)="collapse('openHours')">Show Less
                                        <span class="material-icons showLess" style="color: white; vertical-align: middle;">
                                            expand_less
                                        </span>
                                    </a>

                                    <h5 *ngIf="venueDetails.venueGeneralRule">General Rule</h5>
                                    <p id="generalRule" *ngIf="venueDetails.venueGeneralRule">{{venueDetails.venueGeneralRule}}</p>
                                    <a *ngIf="showMoreGeneralrule && venueDetails.venueOpenHours" class="showMore" (click)="expand('generalRule')">Show More
                                        <span class="material-icons" style="color: white; vertical-align: middle;">
                                            expand_more
                                        </span>
                                    </a>
                                    <a *ngIf="!showMoreGeneralrule && venueDetails.venueOpenHours" class="showLess" (click)="collapse('generalRule')">Show Less
                                        <span class="material-icons showLess" style="color: white; vertical-align: middle;">
                                            expand_less
                                        </span>
                                    </a>

                                    <h5 *ngIf="venueDetails.venueChildRule">Child Rule</h5>
                                    <p id="childRule" *ngIf="venueDetails.venueChildRule">{{venueDetails.venueChildRule}}</p>
                                    <a *ngIf="showMoreChildRule && venueDetails.venueOpenHours" class="showMore" (click)="expand('childRule')">Show More
                                        <span class="material-icons" style="color: white; vertical-align: middle;">
                                            expand_more
                                        </span>
                                    </a>
                                    <a *ngIf="!showMoreChildRule && venueDetails.venueOpenHours" class="showLess" (click)="collapse('childRule')">Show Less
                                        <span class="material-icons showLess" style="color: white; vertical-align: middle;">
                                            expand_less
                                        </span>
                                    </a>
                                </div>
                            </div>
                            
                            <button *ngIf="showGoogleMaps" class="btn btn-danger mapsButton" (click)="openModal()">Show venue on Google map</button>
                        </div>
                    </mat-tab>

                </mat-tab-group>
            </div>
        </div>

        <div class="form-group col-md-2"></div>
    </div>
    <!-- end of tabs section --> 
</div>        

<div class="modal container" tabindex="-1" role="dialog" [ngStyle]="{'display': modalDisplay}">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 modalContent">
            <h1>Event Venue</h1>
            <hr>
            <div class="my-google-map">
                <google-map [options]="mapOptions">
                    <map-marker [position]="marker.getPosition()!"></map-marker>
                </google-map>
            </div>
            <div class="modalClose">
                <button class="btn btn-dark" (click)="closeModal()">Close</button>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
