<nav class="navbar-inverse container-fluid">
	<div class="navbar-right">
		<a routerLink="/" routerLinkActive="activeButton" ariaCurrentWhenActive="page">Search</a>
	  	<a routerLink="/favorites" routerLinkActive="noActiveButton" ariaCurrentWhenActive="page">Favorites</a>
	</div>
</nav>
<div class="container" style="margin-top: 50px;">
    
    <!--Form-->
    <div class="row">
        <div class="form-group col-md-3"></div>
        
        <div class="form-group col-md-6">
            <div class="formDiv">
            
                <div class="col-12 text-center">
                    <h1 >Events Search</h1>
                </div>
                <hr id="hDivider">

                <form style="width: 100%" (ngSubmit)="onSubmit()" ngNativeValidate>
                    <div class="row">
                        <div class="form-group col-md-12 required">
                            
                            <small><label for="keyword" class="control-label inputLabel">Keyword</label></small> 
                            <input type="text" id="keyword" class="form-control" [(ngModel)]="selectedKeyword" [matAutocomplete]="autoVar" [formControl]="KeywordCtrl" required>
                    
                            <!-- mat-autocomplete takes care of displaying the dropdown which suggests. ng-option is the optin tag of the dropdown-->
                            <mat-autocomplete #autoVar="matAutocomplete" (optionSelected)="onSelected()" [displayWith]="displayWith"> 
                                <mat-option *ngIf="isLoading" class="is-loading">
                                    <mat-spinner [diameter]="20"></mat-spinner>
                                </mat-option>
                                <ng-container *ngIf="!isLoading">
                                    <mat-option *ngFor="let keyword of filteredKeywords" [value]="keyword">
                                        <span>
                                            <b>{{keyword}}</b>
                                        </span>
                                    </mat-option>
                                </ng-container>
                            </mat-autocomplete>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="form-group col-md-6">
                            <small><label for="distance" class="inputLabel">Distance</label></small>
                            <input type="number" value="10" (ngModel)="distance" class="form-control" id="distance">
                        </div>
                        <div class="form-group col-md-5">
                            <small><label for="category" class="control-label inputLabel">Category</label></small>
                            
                            <select class="dropdown-menu" id="category" name="category" class="form-control">
                                <option value="default">Default</option>
                                <option value="music">Music</option>
                                <option value="sports">Sports</option>
                                <option value="artsAndTheatre">Arts & Theatre</option>
                                <option value="film">Film</option>
                                <option value="miscellaneous">Miscellaneous</option>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-12 required">
                            <small><label for="location" class="control-label inputLabel">Location</label></small>
                            <input type="text" class="form-control" [disabled]="isLocationDisabled" id="location" aria-describedby="LocationValue" required>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-12">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="autoDetectLocation" name="autoDetectLocation" (change)="checkAutoDetect()">
                                <small><label class="form-check-label inputLabel" for="autoDetectLocation">
                                    Auto-detect your location
                                </label></small>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-12 text-center">
                            <button type="submit" class="btn btn-danger">SUBMIT</button>
                            <button type="reset" class="btn btn-primary" (click)="clearForm()">CLEAR</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="form-group col-md-3"></div>
    </div>
    <!-- End of Form-->
    
    <!-- Results Table-->
    <div class="row">
        
        <div class="form-group col-md-1"></div>
        
        <div class="form-group col-md-10">
            <div class="row">
                <div class="col-md-2"></div>
                <div *ngIf="noEventsDataFound" class="col-md-8 noResultsFound text-center">
                    <h3>No results available</h3>
                </div>
                <div class="col-md-2"></div>
            </div>
            
            <div class="table-responsive">
                <table *ngIf="isEventsDataFound" class="table table-dark table-striped resultsTable" id="resultsTable">
                    <thead>
                        <tr>
                            <th scope="col">Date/Time</th>
                            <th scope="col">Icon</th>
                            <th scope="col">Event</th>
                            <th scope="col">Genre</th>
                            <th scope="col">Venue</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let event of events" (click)="rowClick(event.id, event.venue)" id="{{event.id}}">
                            <td>{{event.date}}</td>
                            <td><img src={{event.icon}}></td>
                            <td>{{event.name}}</td>
                            <td>{{event.genre}}</td>
                            <td>{{event.venue}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="form-group col-md-1"></div>
    </div>
    <!--End of results table-->

    <!-- Tabs Section-->
    <div class="row">

        <div class="form-group col-md-2"></div>
        
        <div class="form-group col-md-8">
            
            <div class="tabsDiv" *ngIf="isTabsDataFound">
                
                <div id="backButton">
                    <span class="material-icons leftArrow">arrow_back_ios</span>
                    <label (click)="onSubmit()">Back</label>
                </div>
                
                <div class="row" class="eventHeader">
                    <div class="text-center tabsHeader">
                        <h3 *ngIf="eventDetails.eventName">{{eventDetails.eventName}} 
                            <span (click)="switchFavorite(eventDetails.eventId)" [ngStyle]="{'color': favoriteColor}" id="favorite" class="material-icons heart-border">{{favoriteText}}</span>
                        </h3>
                    </div>
                </div>
                
                <mat-tab-group mat-align-tabs="center" color="primary">
                    
                    <!--Events Tab-->
                    <mat-tab label="Events">

                        <div class="row" *ngIf="noEventDetailsDataFound">
                            <div class="col-md-2"></div>
                            <div class="col-md-8" style="padding-left: 50px; padding-right: 50px;">
                                <div class="noResultsFound text-center">
                                    <h4>No event details to show</h4>
                                </div>
                            </div>
                            <div class="col-md-2"></div>
                        </div>

                        <div class="container" *ngIf="isEventDetailsDataFound">
                            <div class="row display-flex-center" id="events">
                                <div class="col-md-6 text-center">
                                    <h5 *ngIf="eventDetails.eventDate">Date</h5>
                                    <label *ngIf="eventDetails.eventDate" class="eventsText">{{eventDetails.eventDate}}</label>

                                    <h5 *ngIf="eventDetails.artistString">Artist/Team</h5>
                                    <label  *ngIf="eventDetails.artistString" class="eventsText">{{eventDetails.artistString}}</label>

                                    <h5 *ngIf="eventDetails.eventVenue">Venue</h5>
                                    <label *ngIf="eventDetails.eventVenue" class="eventsText">{{eventDetails.eventVenue}}</label>

                                    <h5 *ngIf="eventDetails.genre">Genres</h5>
                                    <label *ngIf="eventDetails.genre" class="eventsText">{{eventDetails.genre}}</label>

                                    <h5 *ngIf="eventDetails.priceRanges">Price Ranges</h5>
                                    <label *ngIf="eventDetails.priceRanges" class="eventsText">{{eventDetails.priceRanges}} USD</label>
                                    
                                    <h5 *ngIf="eventDetails.ticketStatus">Ticket Status</h5>
                                    <label *ngIf="eventDetails.ticketStatus" class="eventsText" style="padding: 5px 15px 5px 15px; border-radius: 10px;" [ngStyle]="{'background-color': eventDetails.ticketStatusColor}">
                                        {{eventDetails.ticketStatus}}
                                    </label>

                                    <h5 *ngIf="eventDetails.ticketURL">Buy Ticket At:</h5>
                                    <a href={{eventDetails.ticketURL}} target="_blank" class="eventsText" *ngIf="eventDetails.ticketURL">Ticketmaster</a>
                                </div>
                                <div *ngIf="eventDetails.seatMap" class="col-md-6 text-center">
                                    <img src={{eventDetails.seatMap}} class="img-fluid" style="padding-top: 20px;">
                                </div>
                            </div>
                            <div class="row" style="margin-top: 10px">
                                <div class="form-group col-md-12 text-center" *ngIf="eventDetails.ticketURL">
                                    
                                    <div style="display: flex; flex-direction: row; justify-content: center; align-items: center;">
                                        Share on:
                                        <a target="_blank" class="twitter" [href]="'https://twitter.com/intent/tweet?text=Check ' + eventDetails.eventName + ' on Ticketmaster.%0A' + eventDetails.ticketURL">
                                            <img src="../../assets/twitter_logo.svg" alt="" srcset=""/>
                                        </a>
                                        
                                        <a target="_blank" class="facebook" [href]="'https://www.facebook.com/sharer/sharer.php?u=' + eventDetails.ticketURL + '&amp;src=sdkpreparse'">
                                            <img src="../../assets/facebook_logo.svg" alt="" srcset=""/>
                                        </a>
                                    </div>
                                
                                </div>
                            </div>
                        </div>
                    </mat-tab>

                    <!-- Artists tab-->
                    <mat-tab label="Artists/Teams">
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div *ngIf="noArtistsFound" class="col-md-8" style="padding-left: 50px; padding-right: 50px;">
                                <div class="noResultsFound text-center">
                                    <h4>No music related artist details to show</h4>
                                </div>
                            </div>
                            <div class="col-md-2"></div>
                        </div>
                        <ngb-carousel class="container" *ngIf="isMusicRelated" [showNavigationArrows]="!( artistsInfo.length <= 1 )">
                            <ng-template ngbSlide *ngFor="let artist of artistsInfo">
                                <div class="wrapper container">
                                    <div class="container">
                                        <div class="container">
                                            <div class="container">
                                                <div class="container">
                                                    <div class="container">
                                                        
                                                        <div class="container row text-center" style="padding-top: 2vw;">
                                                            <div class="col-md-3">
                                                                <img *ngIf="artist.imageURL" style="border-radius: 20vw" src={{artist.imageURL}} class="img-fluid">
                                                                <h5 *ngIf="artist.name" class="greenText" style="font-weight: bold;">{{artist.name}}</h5>
                                                            </div>
                                                            <div class="col-md-3" style="margin-bottom: 20px;">
                                                                <div class="artistInfo">
                                                                    <h5 *ngIf="artist.popularity" class="greenText">Popularity</h5>
                                                                    <div *ngIf="artist.popularity" class="text-center spinner">
                                                                        <mat-progress-spinner [diameter]="40" color="warn" mode="determinate" value={{artist.popularity}}></mat-progress-spinner>
                                                                    </div>
                                                                    <div style="margin-top: -32px;">
                                                                        <label *ngIf="artist.popularity">{{artist.popularity}}</label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            
                                                            <div class="col-md-3" style="margin-bottom: 20px;">
                                                                <div class="artistInfo">
                                                                    <h5 *ngIf="artist.followersCount" class="greenText">Followers</h5>
                                                                    <label *ngIf="artist.followersCount">{{artist.followersCount}}</label>
                                                                </div>
                                                            </div>
                                                            
                                                            <div class="col-md-3" style="margin-bottom: 20px;">
                                                                <div class="artistInfo">
                                                                    <h5 *ngIf="artist.spotifyURL" class="greenText">Spotify Link</h5>
                                                                    <a *ngIf="artist.spotifyURL" style="color: green; font-size: 35px;" target="_blank" href={{artist.spotifyURL}} class="bi bi-spotify"></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row" style="padding-bottom: 2vw;">
                                                            <div *ngIf="artist.coverImages[0]">
                                                                <label class="greenText albumText">Albums featuring {{artist.name}}</label>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <img class="img-fluid albumImg" src={{artist.coverImages[0]}} alt="Random first slide">
                                                            </div>
                                                            <div class="col-md-4">
                                                                <img class="img-fluid albumImg" src={{artist.coverImages[1]}}>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <img class="img-fluid albumImg" src={{artist.coverImages[2]}}>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div> 
                                    </div>
                                </div>
                                
                            </ng-template>
                        </ngb-carousel>
                    </mat-tab>

                    <!--Venue Tab-->
                    <mat-tab label="Venue">

                        <div class="row" *ngIf="noVenueDataFound">
                            <div class="col-md-2"></div>
                            <div class="col-md-8" style="padding-left: 50px; padding-right: 50px;">
                                <div class="noResultsFound text-center">
                                    <h4>No venue details to show</h4>
                                </div>
                            </div>
                            <div class="col-md-2"></div>
                        </div>

                        <div class="container text-center venuesTab"  *ngIf="isVenueDataFound">
                            <div class="row" id="venue" style="padding-bottom: 20px;">
                                <div class="col-md-6 text-center">
                                    <h5 *ngIf="venueDetails.venueName">Name</h5>
                                    <label *ngIf="venueDetails.venueName">{{venueDetails.venueName}}</label>

                                    <h5 *ngIf="venueDetails.venueAddress || venueDetails.venueCity">Address</h5>
                                    <label *ngIf="venueDetails.venueAddress">{{venueDetails.venueAddress}},&nbsp;</label><label *ngIf="venueDetails.venueCity">{{venueDetails.venueCity}}</label>

                                    <h5 *ngIf="venueDetails.venuePhoneNumber">Phone Number</h5>
                                    <label *ngIf="venueDetails.venuePhoneNumber">{{venueDetails.venuePhoneNumber}}</label>                                        
                                </div>
                                <div class="col-md-6 text-center">
                                    
                                    <h5 *ngIf="venueDetails.venueOpenHours">Open Hours</h5>
                                    <p id="openHours">{{venueDetails.venueOpenHours}}</p>
                                    <a *ngIf="showMoreOpenHours && venueDetails.venueOpenHours" class="showMore" (click)="expand('openHours')">Show More
                                        <span class="material-icons" style="color: white; vertical-align: middle;">
                                            expand_more
                                        </span>
                                    </a>
                                    <a *ngIf="!showMoreOpenHours && venueDetails.venueOpenHours" class="showLess" (click)="collapse('openHours')">Show Less
                                        <span class="material-icons showLess" style="color: white; vertical-align: middle;">
                                            expand_less
                                        </span>
                                    </a>

                                    <h5 *ngIf="venueDetails.venueGeneralRule">General Rule</h5>
                                    <p id="generalRule" *ngIf="venueDetails.venueGeneralRule">{{venueDetails.venueGeneralRule}}</p>
                                    <a *ngIf="showMoreGeneralrule && venueDetails.venueGeneralRule" class="showMore" (click)="expand('generalRule')">Show More
                                        <span class="material-icons" style="color: white; vertical-align: middle;">
                                            expand_more
                                        </span>
                                    </a>
                                    <a *ngIf="!showMoreGeneralrule && venueDetails.venueGeneralRule" class="showLess" (click)="collapse('generalRule')">Show Less
                                        <span class="material-icons showLess" style="color: white; vertical-align: middle;">
                                            expand_less
                                        </span>
                                    </a>

                                    <h5 *ngIf="venueDetails.venueChildRule">Child Rule</h5>
                                    <p id="childRule" *ngIf="venueDetails.venueChildRule">{{venueDetails.venueChildRule}}</p>
                                    <a *ngIf="showMoreChildRule && venueDetails.venueChildRule" class="showMore" (click)="expand('childRule')">Show More
                                        <span class="material-icons" style="color: white; vertical-align: middle;">
                                            expand_more
                                        </span>
                                    </a>
                                    <a *ngIf="!showMoreChildRule && venueDetails.venueChildRule" class="showLess" (click)="collapse('childRule')">Show Less
                                        <span class="material-icons showLess" style="color: white; vertical-align: middle;">
                                            expand_less
                                        </span>
                                    </a>
                                </div>
                            </div>
                            
                            <button *ngIf="showGoogleMaps" class="btn btn-danger mapsButton" (click)="openModal()">Show venue on Google map</button>
                        </div>
                    </mat-tab>

                </mat-tab-group>
            </div>
        </div>

        <div class="form-group col-md-2"></div>
    </div>
    <!-- end of tabs section --> 

</div>

<div class="modal container" tabindex="-1" role="dialog" [ngStyle]="{'display': modalDisplay}">
    <div class="row modalRow">
        <div class="col-md-4"></div>
        
        <div class="col-md-4 container">
            <div class="container">
                <div class="modalContent container">
                    <h3>Event Venue</h3>
                    <hr>
                    <div class="my-google-map">
                        <google-map [options]="mapOptions">
                            <map-marker [position]="marker.getPosition()!"></map-marker>
                        </google-map>
                    </div>
                    <div class="modalClose">
                        <button class="btn btn-dark" (click)="closeModal()">Close</button>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-md-4"></div>
    </div>
</div>